/* override the normal box model sizing rules */
* {box-sizing: border-box;}

html, body {
  background-color: white;
  font-family: sans-serif;
  height: 100%;
}


/* OUTER ARTICLE (class="contentwrapper") */
.contentwrapper {
  width: 100%;
  height: 100%;
}


/* HEADER (headline and main nav) */
header h1 {
  font-size: 2.6rem;
  color: #8668b0;
  text-align: center;
  background-color: white;
  padding: 2rem 0 1rem 0;
}


/* NAVIGATION BAR */
.main-nav {
  width: 100%;
  background-color: #8468B3;
  height: 2.2rem;
  border: none;
  /* center content within links */
  align-content: center;
  /* font color */
  color: white;
}

.main-nav ul {
  /* remove bullets */
  list-style: none;
}

.main-nav ul li {
/*  display: inline;   wouldn't this be better than relying on matching the
                   height in .main-nav (above) and line-height in a (below)? */
  float: left;
  width: 13.8%;
  border-right: 4px solid #6B4F9C;
  text-align: center;
}

/* no bar to the right of rightmost button */
.main-nav ul li:last-child {
  border-right: none;
}

.main-nav ul li a {
  line-height: 2.2rem;
  color: white;  
  text-decoration: none;
  align-content: center;
}


/* ASIDE (left bar with list of photos) */
aside {
  width: 20%; 
  height: 60%;
  clear: both;
  float: left;
  background-color: #C0B2D5;
  padding: 3rem 0 6rem 0;
}

aside ul {
  margin: 0px auto;
  width: 6em;
}

aside ul li {
  padding: 0.5em;
}

aside ul li a {
  color: white;
  text-decoration: none;
}


/* ARTICLE (main area with photo and text) */
.contentwrapper article {
  height: 60%;
  width: 80%;
  float: right;
  background-color: #e1e4e9;
}

.contentwrapper article p {
  max-width: 70%;
  display: block;
  font-size: 0.8rem;
/* why centers in entire .contentwrapper instead of relative to the containing <article>?: */
  text-align: center; 
  margin: 0 auto;
}

.contentwrapper article img {
  /* center horizontally */
  display: block; 
  margin: 4rem auto 2rem auto;
  width: 40%;
}


/* FOOTER (social media icon-links) */
footer {
  clear: both;  
  background-color: white;
}

footer ul {
  width: 30%;
  margin: 0 auto;
  background-color: white;
}

footer ul li {
  float: left;
  padding: 2em 1em 1em 1em;
}

footer ul li a {
}

footer ul li a img {
  /* shrink icons */
  width: 2rem;
}
